.users-page {
  display: flex;
  height: 100%;
}

.page {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.user-card {
  background-color: #333;
  color: #d2cece;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-left: 6px solid #1e72b8; /* Border color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.user-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.user-header {
  text-align: center;
  margin-bottom: 10px;
}

.user-header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.user-info {
  margin-bottom: 10px;
}

.user-actions {
  text-align: center;
}

.search-container {
  margin: 20px 0 40px;
  display: flex;
  justify-content: flex-start;
}

.search-container input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #b8c1ee;
  color: #d2cece;
}

.add-btn {
  background-color: #1e72b8;
  margin-left: 30px;
  color: #d2cece;
  transition: background-color 0.3s, color 0.3s;
}

mat-paginator {
  background-color: #333;
  color: #d2cece;
  border-radius: 8px;
  padding: 8px;
}

.paginator-container {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
