<mat-toolbar *ngIf="showNavbar" class="full_navbar">
  <span class="title">Welcome, {{ user?.username }} </span>
  <span></span>
  <ul class="nav__buttons">
    <li class="nav__item">
      <button
        mat-button
        class="button"
        routerLink="/search"
        [disabled]="disableButtons"
      >
        Discover flights
      </button>
    </li>
    <li class="nav__item">
      <button
        mat-button
        class="button"
        routerLink="/my-bookings"
        [disabled]="disableButtons"
      >
        Bookings
      </button>
    </li>
    <li class="nav__item">
      <button
        mat-button
        class="button"
        [disabled]="disableButtons"
        (click)="logout()"
      >
        Logout
      </button>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
