<mat-toolbar *ngIf="showNavbar" class="full_navbar">
  <span class="title">Flight Finder</span>
  <span class="spacer"></span>
  <button
    mat-button
    routerLink="/search"
    style="color: #000000"
    [disabled]="disableButtons"
  >
    Home
  </button>
  <button
    mat-button
    routerLink="/my-bookings"
    style="color: #000000"
    [disabled]="disableButtons"
  >
    My bookings
  </button>
  <button
    mat-button
    style="color: #000000"
    [disabled]="disableButtons"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
