.menu {
  background-color: #f2d293;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-label {
  color: #e94560;
  font-weight: bold;
}

.menu-list {
  width: 220px;
  flex-grow: 1; // Omogućava da se meni rastegne vertikalno i centriran unutar sidebara
  display: flex;
  flex-direction: column;
  justify-content: center; // Ovo centrira stavke menija vertikalno
}

.menu-list a {
  color: #000000; // Svetlija boja teksta
  background-color: transparent;
  padding: 10px; // Povećano razmicanje unutar stavki
  margin-bottom: 5px; // Razmak između stavki
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px; // Lagano zaobljeni uglovi
  text-decoration: none; // Bez podvlačenja teksta
}

.menu-list a:hover {
  background-color: #ecb74c; // Tamnoplava boja prilikom hovera
  color: #ff0000; // Svetlo crvena boja teksta
}

.menu-list a.is-active {
  background-color: #e2b457; // Aktivna stavka dobija tamniju boju
  color: #000000;
  font-weight: bold;
}

.menu-bottom {
  position: fixed;
  bottom: 0;
  padding: 50px 0;
  margin-top: auto;
  width: 220px;
}
