.dashboard-container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 30px;
  background-color: #f4f6f9;
}

.dashboard-welcome {
  font-family: "Arial", sans-serif;
  color: #000000;
  padding: 2rem;
  line-height: 1.6;
}

.dashboard-welcome h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dashboard-welcome p {
  margin-bottom: 1.5rem;
}

.dashboard-features {
  list-style-type: none;
  padding: 0;
}

.dashboard-features li {
  margin-bottom: 1rem;
  color: #ecf0f1;
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-features li strong {
  color: #479df8;
}
