:host {
  display: block;
  background-color: #373633;
  min-height: 100vh;
  font-family: "Varela Round", serif;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Omogućava prelazak u sledeći red ako nema dovoljno prostora */
  gap: 20px; /* Razmak između elemenata */
  justify-content: center; /* Centriranje elemenata horizontalno */
}

#FlightResult {
  text-align: center;
  font-family: "Varela Round", serif;
  border-radius: 30px;
  background: linear-gradient(125deg, #8998e1, #d2d7f3);
  box-shadow: 10px 10px 20px #000000, -10px -10px 20px #000000;
  margin-top: 80px;
  margin-bottom: 50px;
}
.title123 {
  color: #000000;
}
.columns {
  margin: 0;
  color: #000000;
}

.column {
  padding: 10px;
}

.column strong {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.column span,
.column small {
  display: block;
  font-size: 1rem;
  color: #000000;
}

button.button {
  width: 100%;
}

.has-text-centered {
  text-align: center;
}
.button.is-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #000000;
  &:hover {
    background-color: #c0392b;
    border-color: #c0392b;
  }
}

button.is-danger:hover {
  background-color: #ff2b56;
  border-color: #ff2b56;
  color: #000000;
}

.has-text-centered {
  display: flex;
  justify-content: center; // Centriranje horizontalno
  align-items: center; // Centriranje vertikalno
}
