.airports-page {
  display: flex;
  height: 100%;
}

.page {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-container input {
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  background-color: #333;
}

.add-btn {
  background-color: #1e72b8;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.airports-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.airport-card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-left: 6px solid #1e72b8; /* Border color */
}

.airport-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.airport-card-header h3 {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

.airport-card-header p {
  font-size: 14px;
  color: #888;
}

.airport-card-body p {
  margin: 10px 0;
  color: #555;
}

.airport-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.airport-card-footer button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 5px;
}

.airport-card-footer button:hover {
  opacity: 0.8;
}

.airport-card-footer button.mat-button {
  color: #1e72b8;
}

.airport-card-footer button.delete-btn {
  color: #e74c3c;
}

.paginator-container {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-paginator {
  background-color: #333;
  color: #d2cece;
  border-radius: 8px;
  padding: 8px;
}
