.airports-page {
  display: flex;
  height: 100%;
}

.page {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  background-color: #d6d8e4;
}

.airports-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
  display: table;
  table-layout: fixed;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

.mat-mdc-cell {
  color: #e0d7d7;
}

.search-container {
  margin: 20px 0 40px;
  display: flex;
  justify-content: flex-start;
}

.search-container input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #333;
  color: #d2cece;
}

.search-container input::placeholder {
  color: #d2cece;
}
.subtitle123 {
  color: #000000;
}
.search-container .add-btn {
  background-color: #333;
  color: #d2cece;
  transition: background-color 0.3s, color 0.3s;
}

.search-container .add-btn:hover {
  background-color: #333;
  color: #ffffff;
}

.column-text {
  vertical-align: middle;
  font-size: medium;
  padding-bottom: 10px;
}

.header {
  font-size: medium;
  color: #ffffff;
}
button[mat-raised-button] {
  margin: 10px 20px;
  padding: 10px 20px;
  font-size: 16px;
}

mat-paginator {
  background-color: #333;
  color: #d2cece;
  border-radius: 8px;
  padding: 8px;
}

.paginator-container {
  margin-top: auto;
  padding: 40px 0 0px;
  bottom: 0;
}

.mat-mdc-select-value-text {
  color: #ecf0f1;
}
